/* responsive css style  */
@media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }
  
    .logo,
    .menu-link ul,
    .social-media ul {
      height: 8rem;
    }
  }
  
  /* responsive css style  */
  @media (max-width: 998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo,
    .social-media ul {
      height: 7rem;
    }
  
    .mobile-menu-link {
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu-link {
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
  
    .social-media {
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
  
    .social-media .social-media-desktop {
      height: 0;
      display: none;
    }
  
    .social-media {
      height: 7rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 798px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
    }
  
    .logo,
    .social-media ul {
      height: 6rem;
    }
  
    .social-media {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 6rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .logo,
    .social-media ul {
      height: 6rem;
    }
  
    .logo h2 {
      font-size: 2rem;
    }
  
    .social-media {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .social-media .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
}

.box1{
  display: flex;
  flex-direction: column;
  border: 4px solid #F1D00A ;
  text-align: center;
}
.box1:hover {
  background-color: grey;
  color:#F1D00A;
  }
  .heading{
    text-align: center;
    display: flex;
    flex-direction: column;
  }
.images{
  margin-left: 20px;
  margin-right: 15px;
}
.Events{
 
  display: flex;
  flex-direction: row;
  background-color: white;
  color:black;
  
}

.sectionnn{
  background-color: white;
  color:black;
  padding-top: 50px;
  padding-bottom: 50px;
}
.Navbarel:hover{
  /* background-color: grey; */
  color:#F1D00A;
}
.blogs{
  background-color: white;
  color:black;
}
.App {
  text-align: center;
  max-width: 300px;
  margin: 20px auto;
}
Form {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
}
.Contact{
  background-color: black;
  color:white;
}
.container1{
  display:flex;
  flex-direction: column;
  margin-left: 100px;
  
}
.container2{
   display: flex;
   flex-direction: column;
}
/* /////////////////////////////////////////////////// */
/* SPONSOR SECTION
================================================= */
*/
#sponsors {
width: 100%;
height: 100%;
background-color: #111;
margin-top: 20px;
margin-bottom: 0%;
}

.sponsorsDiv {
width: 100%;
display: flex;
justify-content: center;
}

.sponsorsText {
color:#f9b000;
font-size: 48px;
font-family: 'Righteous';
font-weight: 900;
margin-bottom: 1.5em;
position: relative;
}

.sponsorsText:after {
content: '';
background-color :black;
position: absolute;
border-radius: 8px;
height: 4px;
width: 50%;
bottom: 0;
left: calc(50% - 25%);
top: 1.5em;
}

.sponsorsIconsDiv {
display: flex;
align-items: center;
overflow-x: hidden;
overflow-y: hidden;
margin-right: 1em;
}

@keyframes translation {
0% {
    transform: translateX(0px);
}
100% {
    transform: translateX(-4100px);
}
}

.sponsorsIconsImg {
width: 15%;
display: inline-block;
margin: 0px 80px 0px 80px;
animation: translation 50s linear infinite;
}
/*=========*/
/* Responsive styles  */

@media only screen and (max-width:1000px) {
.sponsorsIconsImg {
    width: 17%;
    margin: 0px 80px 0px 80px;
}
}

@media only screen and (max-width:800px) {
.sponsorsIconsImg {
    width: 19%;
    margin: 0px 64px 0px 64px;
}
.sponsorsIconsImg {
    animation: translation 80s linear infinite;
}
}

@media only screen and (max-width:600px) {
.sponsorsIconsImg {
    width: 20%;
}
.sponsorsIconsDiv {
    margin-right: 0.8em;
}
}

@media only screen and (max-width:500px) {
.sponsorsIconsDiv {
    margin-right: 0em;
}
.sponsorsIconsImg {
    width: 20%;
    margin: 0 56px 0 56px;
}
.sponsorsIconsImg {
    animation: translation 100s linear infinite;
}
}

@media only screen and (max-width:400px) {
.sponsorsIconsImg {
    width: 22%;
}
.sponsorsIconsDiv {
    margin-right: 0em;
}
}


/* Responsive styles for title  */

@media only screen and (max-width: 1000px) {
.sponsorsText {
    font-size: 40px;
}
}

@media only screen and (max-width:550px) {
.sponsorsText {
    font-size: 32px;
}
}

@media only screen and (max-width:360px) {
.sponsorsText {
    font-size: 28px;
}
}
